AUTH_DB_URL=jdbc:postgresql://<auth-db-host>:5432/<auth-db-name>
AUTH_DB_USERNAME=<auth-db-user>
AUTH_DB_PASSWORD=<auth-db-password>

APPLICATION_DB_URL=jdbc:postgresql://<application-db-host>:5432/<application-db-name>
APPLICATION_DB_USERNAME=<application-db-user>
APPLICATION_DB_PASSWORD=<application-db-password>

NOTIFICATION_DB_URL=jdbc:postgresql://<notification-db-host>:5432/<notification-db-name>
NOTIFICATION_DB_USERNAME=<notification-db-user>
NOTIFICATION_DB_PASSWORD=<notification-db-password>

KAFKA_HOST=<kafka-host>
KAFKA_PORT=9092
APPLICATION_EVENTS_TOPIC=application-events
REMINDER_EVENTS_TOPIC=reminder-events
NOTIFICATION_CONSUMER_GROUP=notification-service

APP_JWT_SECRET=<generate-a-long-random-secret>
APP_JWT_EXPIRATION_MILLIS=86400000
APP_CORS_ALLOWED_ORIGIN_PATTERNS=https://interviewflow-platform.vercel.app

AUTH_SERVICE_SCHEME=http
AUTH_SERVICE_HOST=<auth-service-host>
AUTH_SERVICE_PORT=10000
APPLICATION_SERVICE_SCHEME=http
APPLICATION_SERVICE_HOST=<application-service-host>
APPLICATION_SERVICE_PORT=10000
NOTIFICATION_SERVICE_SCHEME=http
NOTIFICATION_SERVICE_HOST=<notification-service-host>
NOTIFICATION_SERVICE_PORT=10000
NEXT_PUBLIC_API_URL=https://<gateway-public-domain>
