frontend/node_modules/
frontend/.next/
frontend/out/

**/target/
**/build/
**/bin/
**/.gradle/

.vscode/
.idea/

*.log
*.out
*.err
*.class
*.tsbuildinfo
*.pem

.DS_Store
Thumbs.db

.env
.env.*
!**/.env.example

coverage/
.vercel/
